# i use SQLite so i can easily share the project with you, but you can change it to mysql or postgresql if you want, just make sure to update the connection string in the .env file and the prisma schema file accordingly.
# For example, if you want to use mysql, you can change the connection string to something like this:
DATABASE_URL="file:./dev.db"
# If you want to use postgresql, you can change the connection string to something like this:
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# You can also use environment variables to store your database credentials, and then reference them in the connection string. For example:
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"
